dist/index.html
<!DOCTYPE html>
<html lang="pt-br">
  <!--HEADER BLOCK-->
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Online Music Store">
    <meta name="author" content="Pedro Pisandelli">
    <title>gomusic</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Monda">
    
    <link rel="stylesheet" href="styles/main.min.css">
  </head>
  <body>
    <main id="main_section">
      <header>
        <div id="topbar">
          <div class="container row">
            <div id="brand"><a href="index.html"><img src="images/brand/h-logo.svg" height="60px" title="gomusic online music store" alt="GoMusic Logo"></a></div>
            <div id="burger"><span></span><span></span><span></span></div>
            <nav id="main_nav">
              <div class="item"><a href="#">Lançamentos</a></div>
              <div class="item"><a href="#">Ofertas</a></div>
              <div class="item"><a href="#">Acessórios</a></div>
              <div class="item"><a href="#">Minha conta</a></div>
              <div class="item"><a href="#">Meu Carrinho</a></div>
            </nav>
          </div>
        </div>
        <div id="hero">
          <div class="slide" style="background-image:url(images/slides/slide02.jpg)">
            <div class="call">
              <p class="ribbon lancamento">Lançamento!</p>
              <h2 class="title">zz top</h2>
              <p class="description">Badalero 3K</p><a class="button expand shop" href="interna.html" role="button">Comprar</a>
            </div>
          </div>
        </div>
      </header>
      <article>
        <header class="content-header row">
          <div class="column">
            <h2>Lançamentos</h2>
          </div>
        </header>
        <section class="lista">
          <div class="card"><a href="interna.html">
              <div class="art"><span class="ribbon price">R$12,90</span><img src="images/albuns/acdc.jpg" title="Lorem Ipsum" alt="Lorem Ipsum"></div>
              <div class="card-content">
                <p class="title">Live 2012</p>
                <p class="author">AC/DC</p>
              </div></a></div>
          <div class="card"><a href="interna.html">
              <div class="art"><span class="ribbon price">R$12,90</span><img src="images/albuns/bbking.jpg" title="Lorem Ipsum" alt="Lorem Ipsum"></div>
              <div class="card-content">
                <p class="title">Riding with the king</p>
                <p class="author">Eric Clapton</p>
              </div></a></div>
          <div class="card"><a href="interna.html">
              <div class="art"><span class="ribbon price">R$12,90</span><img src="images/albuns/bonamassa.jpg" title="Lorem Ipsum" alt="Lorem Ipsum"></div>
              <div class="card-content">
                <p class="title">Blues Deluxe</p>
                <p class="author">Joe Bonamassa</p>
              </div></a></div>
          <div class="card"><a href="interna.html">
              <div class="art"><span class="ribbon price">R$12,90</span><img src="images/albuns/camel.jpg" title="Lorem Ipsum" alt="Lorem Ipsum"></div>
              <div class="card-content">
                <p class="title">Mirage</p>
                <p class="author">Camel</p>
              </div></a></div>
          <div class="card"><a href="interna.html">
              <div class="art"><span class="ribbon price">R$12,90</span><img src="images/albuns/etta.png" title="Lorem Ipsum" alt="Lorem Ipsum"></div>
              <div class="card-content">
                <p class="title">40 Golden Greats</p>
                <p class="author">Etta James</p>
              </div></a></div>
          <div class="card"><a href="interna.html">
              <div class="art"><span class="ribbon price">R$12,90</span><img src="images/albuns/kiss.jpg" title="Lorem Ipsum" alt="Lorem Ipsum"></div>
              <div class="card-content">
                <p class="title">Alive!</p>
                <p class="author">Kiss</p>
              </div></a></div>
        </section>
        <div class="row text-center">
          <div class="column"><a class="button shop" href="">Todos os lançamentos</a></div>
        </div>
      </article>
      <article>
        <header class="content-header row">
          <div class="column">
            <h2>Mais Vendidos</h2>
          </div>
        </header>
        <section class="lista">
          <div class="card"><a href="interna.html">
              <div class="art"><span class="ribbon price">R$12,90</span><img src="images/albuns/titas.jpg" title="Lorem Ipsum" alt="Lorem Ipsum"></div>
              <div class="card-content">
                <p class="title">Cabeça Dinossauro...</p>
                <p class="author">Titãs</p>
              </div></a></div>
          <div class="card"><a href="interna.html">
              <div class="art"><span class="ribbon price">R$12,90</span><img src="images/albuns/trace.jpg" title="Lorem Ipsum" alt="Lorem Ipsum"></div>
              <div class="card-content">
                <p class="title">Trace</p>
                <p class="author">Trace</p>
              </div></a></div>
          <div class="card"><a href="interna.html">
              <div class="art"><span class="ribbon price">R$12,90</span><img src="images/albuns/jimmi.jpg" title="Lorem Ipsum" alt="Lorem Ipsum"></div>
              <div class="card-content">
                <p class="title">Are you experienced</p>
                <p class="author">Jimmi Hendrix Experience</p>
              </div></a></div>
          <div class="card"><a href="interna.html">
              <div class="art"><span class="ribbon price">R$12,90</span><img src="images/albuns/rush.jpg" title="Lorem Ipsum" alt="Lorem Ipsum"></div>
              <div class="card-content">
                <p class="title">Vapor Trails (REMIX)</p>
                <p class="author">Rush</p>
              </div></a></div>
          <div class="card"><a href="interna.html">
              <div class="art"><span class="ribbon price">R$12,90</span><img src="images/albuns/etta.png" title="Lorem Ipsum" alt="Lorem Ipsum"></div>
              <div class="card-content">
                <p class="title">40 Golden Greats</p>
                <p class="author">Etta James</p>
              </div></a></div>
          <div class="card"><a href="interna.html">
              <div class="art"><span class="ribbon price">R$12,90</span><img src="images/albuns/acdc.jpg" title="Lorem Ipsum" alt="Lorem Ipsum"></div>
              <div class="card-content">
                <p class="title">Live 2012</p>
                <p class="author">AC/DC</p>
              </div></a></div>
        </section>
        <div class="row text-center">
          <div class="column"><a class="button shop" href="">Todos os títulos</a></div>
        </div>
      </article>
    </main>
    <footer id="main-footer">
      <div class="logo-footer"><img src="images/brand/footer-logo.svg" height="60px" title="gomusic online music store" alt="GoMusic Logo"></div>
      <div class="footer-info">
        <h3 class="title">Suporte Online</h3>
        <p class="body"><a href="tel:+558530113422">+55 85 3011.3422</a></p>
      </div>
      <div class="footer-info">
        <h3 class="title">Política de Privacidade</h3>
        <p class="body"><a href="#">Respeitamos sua Privacidade</a></p>
      </div>
      <div class="footer-info">
        <h3 class="title">Termos do Serviço</h3>
        <p class="body"><a href="#">Leia nossos termos</a></p>
      </div>
    </footer>
    <script src="scripts/main.min.js"></script>
  </body>
</html>

src/templates/index.pug
extends base/default

block content
    main#main_section
        header
            include components/topbar
            include components/hero
        article
            header.content-header.row
                .column
                    h2 Lançamentos
            section.lista
                .card
                    a(href='interna.html')
                        .art
                            span.ribbon.price R$12,90
                            img(src='images/albuns/acdc.jpg' title="Lorem Ipsum" alt="Lorem Ipsum")
                        .card-content
                            p.title Live 2012
                            p.author AC/DC
                .card
                    a(href='interna.html')
                        .art
                            span.ribbon.price R$12,90
                            img(src='images/albuns/bbking.jpg' title="Lorem Ipsum" alt="Lorem Ipsum")
                        .card-content
                            p.title Riding with the king
                            p.author Eric Clapton
                .card
                    a(href='interna.html')
                        .art
                            span.ribbon.price R$12,90
                            img(src='images/albuns/bonamassa.jpg' title="Lorem Ipsum" alt="Lorem Ipsum")
                        .card-content
                            p.title Blues Deluxe
                            p.author Joe Bonamassa
                .card
                    a(href='interna.html')
                        .art
                            span.ribbon.price R$12,90
                            img(src='images/albuns/camel.jpg' title="Lorem Ipsum" alt="Lorem Ipsum")
                        .card-content
                            p.title Mirage
                            p.author Camel
                .card
                    a(href='interna.html')
                        .art
                            span.ribbon.price R$12,90
                            img(src='images/albuns/etta.png' title="Lorem Ipsum" alt="Lorem Ipsum")
                        .card-content
                            p.title 40 Golden Greats
                            p.author Etta James
                .card
                    a(href='interna.html')
                        .art
                            span.ribbon.price R$12,90
                            img(src='images/albuns/kiss.jpg' title="Lorem Ipsum" alt="Lorem Ipsum")
                        .card-content
                            p.title Alive!
                            p.author Kiss
            .row.text-center
                .column
                    a.button.shop(href='') Todos os lançamentos
        article
            header.content-header.row
                .column
                    h2 Mais Vendidos
            section.lista
                .card
                    a(href='interna.html')
                        .art
                            span.ribbon.price R$12,90
                            img(src='images/albuns/titas.jpg' title="Lorem Ipsum" alt="Lorem Ipsum")
                        .card-content
                            p.title Cabeça Dinossauro...
                            p.author Titãs
                .card
                    a(href='interna.html')
                        .art
                            span.ribbon.price R$12,90
                            img(src='images/albuns/trace.jpg' title="Lorem Ipsum" alt="Lorem Ipsum")
                        .card-content
                            p.title Trace
                            p.author Trace
                .card
                    a(href='interna.html')
                        .art
                            span.ribbon.price R$12,90
                            img(src='images/albuns/jimmi.jpg' title="Lorem Ipsum" alt="Lorem Ipsum")
                        .card-content
                            p.title Are you experienced
                            p.author Jimmi Hendrix Experience
                .card
                    a(href='interna.html')
                        .art
                            span.ribbon.price R$12,90
                            img(src='images/albuns/rush.jpg' title="Lorem Ipsum" alt="Lorem Ipsum")
                        .card-content
                            p.title Vapor Trails (REMIX)
                            p.author Rush
                .card
                    a(href='interna.html')
                        .art
                            span.ribbon.price R$12,90
                            img(src='images/albuns/etta.png' title="Lorem Ipsum" alt="Lorem Ipsum")
                        .card-content
                            p.title 40 Golden Greats
                            p.author Etta James
                .card
                    a(href='interna.html')
                        .art
                            span.ribbon.price R$12,90
                            img(src='images/albuns/acdc.jpg' title="Lorem Ipsum" alt="Lorem Ipsum")
                        .card-content
                            p.title Live 2012
                            p.author AC/DC
            .row.text-center
                .column
                    a.button.shop(href='') Todos os títulos
