src/templates/interna.pug
extends base/default

block content
    main#main_section
        header
            include components/topbar
            include components/breadcrumbs
        article
            section#album-details
                #album-art
                    .row
                        .column
                                img(src='images/albuns/camel-mirage-f.jpg' title='Camel - Mirage' alt='Capa do álbum Mirage do artista Camel')
                        .column
                            h2.title Mirage
                            p.author <strong>Camel</strong> - 1974
                            span.music-style Rock Progressivo
                            .shop-actions
                                a.button.ghost(href='#') Ouvir
                                a.button.shop(href='#') R$12,90
                                p: a.wishlist(href='#') + Lista de desejos
                .description.row
                    .column
                        p <strong>Mirage</strong> é o segundo álbum de estúdio da banda inglesa de rock progressivo <a href="#">Camel</a>, lançado em 1974. É um dos álbuns mais famosos da banda, e contém uma de suas músicas mais conhecidas: "Lady Fantasy". Também é marcado pelo som da flauta do líder da banda Andrew Latimer, em "Supertwister".
                .track-list.row
                    .column
                        ol.tracks
                            li.track-item
                                span Freefall - 5:52
                                a.button.ghost(href='#') Ouvir
                            li.track-item
                                span Supertwister - 3:18
                                a.button.ghost(href='#') Ouvir
                            li.track-item
                                span Nimrodel (medley) - 9:16
                                a.button.ghost(href='#') Ouvir
                            li.track-item
                                span Earthrise - 6:40
                                a.button.ghost(href='#') Ouvir
                            li.track-item
                                span Lady Fantasy - 12:43
                                a.button.ghost(href='#') Ouvir
                section.more-albuns
                    header.content-header.row
                        .column
                            h2 Outros títulos
                    div.lista
                        .card
                            a(href='interna.html')
                                .art
                                    span.ribbon.price R$12,90
                                    img(src='images/albuns/acdc.jpg')
                                .card-content
                                    p.title Live 2012
                                    p.author AC/DC
                        .card
                            a(href='interna.html')
                                .art
                                    span.ribbon.price R$12,90
                                    img(src='images/albuns/bbking.jpg')
                                .card-content
                                    p.title Riding with the king
                                    p.author Eric Clapton
                        .card
                            a(href='interna.html')
                                .art
                                    span.ribbon.price R$12,90
                                    img(src='images/albuns/bonamassa.jpg')
                                .card-content
                                    p.title Blues Deluxe
                                    p.author Joe Bonamassa
                        .card
                            a(href='interna.html')
                                .art
                                    span.ribbon.price R$12,90
                                    img(src='images/albuns/camel.jpg')
                                .card-content
                                    p.title Mirage
                                    p.author Camel
                        .card
                            a(href='interna.html')
                                .art
                                    span.ribbon.price R$12,90
                                    img(src='images/albuns/etta.png')
                                .card-content
                                    p.title 40 Golden Greats
                                    p.author Etta James
                        .card
                            a(href='interna.html')
                                .art
                                    span.ribbon.price R$12,90
                                    img(src='images/albuns/kiss.jpg')
                                .card-content
                                    p.title Alive!
                                    p.author Kiss

dist/interna.html
<!DOCTYPE html>
<html lang="pt-br">
  <!--HEADER BLOCK-->
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Online Music Store">
    <meta name="author" content="Pedro Pisandelli">
    <title>gomusic</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Monda">
    
    <link rel="stylesheet" href="styles/main.min.css">
  </head>
  <body>
    <main id="main_section">
      <header>
        <div id="topbar">
          <div class="container row">
            <div id="brand"><a href="index.html"><img src="images/brand/h-logo.svg" height="60px" title="gomusic online music store" alt="GoMusic Logo"></a></div>
            <div id="burger"><span></span><span></span><span></span></div>
            <nav id="main_nav">
              <div class="item"><a href="#">Lançamentos</a></div>
              <div class="item"><a href="#">Ofertas</a></div>
              <div class="item"><a href="#">Acessórios</a></div>
              <div class="item"><a href="#">Minha conta</a></div>
              <div class="item"><a href="#">Meu Carrinho</a></div>
            </nav>
          </div>
        </div>
        <div id="breadcrumbs">
          <div class="row">
            <div class="column"><span><a href="index.html">Página Inicial</a></span><span class="divider">/</span><span><a href="index.html">camel</a></span><span class="divider">/</span><span>mirage</span></div>
          </div>
        </div>
      </header>
      <article>
        <section id="album-details">
          <div id="album-art">
            <div class="row">
              <div class="column"><img src="images/albuns/camel-mirage-f.jpg" title="Camel - Mirage" alt="Capa do álbum Mirage do artista Camel"></div>
              <div class="column">
                <h2 class="title">Mirage</h2>
                <p class="author"><strong>Camel</strong> - 1974</p><span class="music-style">Rock Progressivo</span>
                <div class="shop-actions"><a class="button ghost" href="#">Ouvir</a><a class="button shop" href="#">R$12,90</a>
                  <p><a class="wishlist" href="#">+ Lista de desejos</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="description row">
            <div class="column">
              <p><strong>Mirage</strong> é o segundo álbum de estúdio da banda inglesa de rock progressivo <a href="#">Camel</a>, lançado em 1974. É um dos álbuns mais famosos da banda, e contém uma de suas músicas mais conhecidas: "Lady Fantasy". Também é marcado pelo som da flauta do líder da banda Andrew Latimer, em "Supertwister".</p>
            </div>
          </div>
          <div class="track-list row">
            <div class="column">
              <ol class="tracks">
                <li class="track-item"><span>Freefall - 5:52</span><a class="button ghost" href="#">Ouvir</a></li>
                <li class="track-item"><span>Supertwister - 3:18</span><a class="button ghost" href="#">Ouvir</a></li>
                <li class="track-item"><span>Nimrodel (medley) - 9:16</span><a class="button ghost" href="#">Ouvir</a></li>
                <li class="track-item"><span>Earthrise - 6:40</span><a class="button ghost" href="#">Ouvir</a></li>
                <li class="track-item"><span>Lady Fantasy - 12:43</span><a class="button ghost" href="#">Ouvir</a></li>
              </ol>
            </div>
          </div>
          <section class="more-albuns">
            <header class="content-header row">
              <div class="column">
                <h2>Outros títulos</h2>
              </div>
            </header>
            <div class="lista">
              <div class="card"><a href="interna.html">
                  <div class="art"><span class="ribbon price">R$12,90</span><img src="images/albuns/acdc.jpg"></div>
                  <div class="card-content">
                    <p class="title">Live 2012</p>
                    <p class="author">AC/DC</p>
                  </div></a></div>
              <div class="card"><a href="interna.html">
                  <div class="art"><span class="ribbon price">R$12,90</span><img src="images/albuns/bbking.jpg"></div>
                  <div class="card-content">
                    <p class="title">Riding with the king</p>
                    <p class="author">Eric Clapton</p>
                  </div></a></div>
              <div class="card"><a href="interna.html">
                  <div class="art"><span class="ribbon price">R$12,90</span><img src="images/albuns/bonamassa.jpg"></div>
                  <div class="card-content">
                    <p class="title">Blues Deluxe</p>
                    <p class="author">Joe Bonamassa</p>
                  </div></a></div>
              <div class="card"><a href="interna.html">
                  <div class="art"><span class="ribbon price">R$12,90</span><img src="images/albuns/camel.jpg"></div>
                  <div class="card-content">
                    <p class="title">Mirage</p>
                    <p class="author">Camel</p>
                  </div></a></div>
              <div class="card"><a href="interna.html">
                  <div class="art"><span class="ribbon price">R$12,90</span><img src="images/albuns/etta.png"></div>
                  <div class="card-content">
                    <p class="title">40 Golden Greats</p>
                    <p class="author">Etta James</p>
                  </div></a></div>
              <div class="card"><a href="interna.html">
                  <div class="art"><span class="ribbon price">R$12,90</span><img src="images/albuns/kiss.jpg"></div>
                  <div class="card-content">
                    <p class="title">Alive!</p>
                    <p class="author">Kiss</p>
                  </div></a></div>
            </div>
          </section>
        </section>
      </article>
    </main>
    <footer id="main-footer">
      <div class="logo-footer"><img src="images/brand/footer-logo.svg" height="60px" title="gomusic online music store" alt="GoMusic Logo"></div>
      <div class="footer-info">
        <h3 class="title">Suporte Online</h3>
        <p class="body"><a href="tel:+558530113422">+55 85 3011.3422</a></p>
      </div>
      <div class="footer-info">
        <h3 class="title">Política de Privacidade</h3>
        <p class="body"><a href="#">Respeitamos sua Privacidade</a></p>
      </div>
      <div class="footer-info">
        <h3 class="title">Termos do Serviço</h3>
        <p class="body"><a href="#">Leia nossos termos</a></p>
      </div>
    </footer>
    <script src="scripts/main.min.js"></script>
  </body>
</html>
